<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Recorder</title>
    <link rel="icon" type="image/png" href="https://icons.veryicon.com/png/o/miscellaneous/2px-common-icons/video-call-1.png" sizes="16x16">

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>
  <body ng-app="myApp" ng-controller="myCtrl">
    <div class="container">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <video
          class="w-50 mt-3 border-rounded"
          muted="true"
          id="video"
          playsinline="true"
          autoplay="true"
        ></video>
        <div class="w-50 d-flex mt-3 aling-item-center">
          <button ng-if="disabledStop" ng-click="startRecording()" id="startRecording" class="btn btn-primary me-2">Start Recording</button>
          <button ng-if="!disabledStop" ng-disabled="disabledStop" ng-click="stopRecording()" id="stopRecording" class="btn btn-primary me-2">Stop Recording</button>
          <button ng-disabled="disabledDownload" ng-click="downloadRecording()" id="downloadRecording" class="btn btn-primary me-2">Download Recording</button>
          <!-- <button ng-click="testConnection()" id="testConnection" class="btn btn-primary me-2">testConnection</button> -->
        </div>

        <br>
        <br>
        <br>
        <hr>
        <h2>only for testing </h2>
        <br>
        <div class="w-50 d-flex mt-3 aling-item-center">
          <button  ng-click="countVideos()"  class="btn btn-primary me-2">countVideos</button>
          <button  ng-click="countDownload()" class="btn btn-primary me-2">countDownload</button>
        </div>
      </div>
    </div>

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script>
        var app = angular.module('myApp', []);

        app.controller('myCtrl', function($scope) {
        $scope.stream = null;
        $scope.recorder = null;
        $scope.recordedChunks = [];
        $scope.isRecording = false;
        $scope.isReRecording = false;
        $scope.disabledStop = true;
        $scope.disabledDownload = true;
        $scope.recordingStartingTime;
        $scope.recordingEndingTime;
        $scope.BaseURL = "https://video-recoder-backend.onrender.com";

        // Get access to the user's camera and microphone
        navigator.mediaDevices
        .getUserMedia({ video: true, audio: true })
        .then(function (mediaFeed) {
            $scope.stream = mediaFeed;
            let video = document.querySelector("#video");
            video.srcObject = $scope.stream;
        })
        .catch(console.error);

        $scope.startRecording = function() {
              let mimeType;
              if ($scope.stream) {
                if (MediaRecorder.isTypeSupported("video/webm; codecs=vp9,opus")) {
                  mimeType = "video/webm; codecs=vp9,opus";
                } else if (MediaRecorder.isTypeSupported("video/webm; codecs=vp9")) {
                  mimeType = "video/webm; codecs=vp9";
                } else if (MediaRecorder.isTypeSupported("video/webm")) {
                  mimeType = "video/webm";
                } else {
                  mimeType = "video/webm; codecs=vp8 ";
                }
              }

              let options = {
                type: "video",
                videoBitsPerSecond: 1000000,
                video: {
                  width: 1280,
                  height: 720,
                  frameRate: 30
                },
                mimeType: mimeType,
              };

              // Create a new MediaRecorder
              $scope.recorder = new MediaRecorder($scope.stream, options);

              $scope.recorder.start();
              $scope.recordingStartingTime = new Date().getTime()
              $scope.isRecording = true;
              if ($scope.disabledStop == true) {
                $scope.disabledStop = false;
                $scope.disabledDownload = true;
              }

              try {
                // When data is available, push it to the recordedChunks array
                $scope.recorder.ondataavailable = function (e) {

                    $scope.recordedChunks.push(e.data);

                    let formData = new FormData();
                    $scope.recordingEndingTime = new Date().getTime()
                    
                    const videoDuration = Math.round(($scope.recordingEndingTime - $scope.recordingStartingTime)/1000);

                    formData.append("mediaFeed", e.data);
                    formData.append("videoDuration", videoDuration);

                    document.getElementById("startRecording").innerHTML = 'Sending Recorded video to Backend...'
                    document.getElementById("startRecording").setAttribute("disabled", "true");

                    // fetch(`http://localhost:3031/sendMediaFeed?videoDuration=${videoDuration}`, {
                    fetch(`${$scope.BaseURL}/sendMediaFeed?videoDuration=${videoDuration}`, {
                        method: "POST",
                        body: formData,
                        contentType: "multipart/form-data",
                    })
                    .then((response) => {
                        console.log(response);
                        $scope.disabledDownload = false;
                        document.getElementById("startRecording").innerHTML = 'Start Recording'
                        document.getElementById("startRecording").removeAttribute("disabled");
                        $scope.$apply()
                    })
                    .catch((error) => {
                        console.error(error);
                    });
                };
            } catch (e) {
                console.error("Exception while creating MediaRecorder: " + e);
                return;
            }

        }

        $scope.stopRecording = function () {

            try {
                $scope.recorder.stop();
                $scope.isRecording = false;
                $scope.disabledStop = true;

            } catch (e) {
                console.log(e);
            }
        }

        $scope.downloadRecording = function() {
            fetch(`${$scope.BaseURL}/download`, {
            // fetch("http://localhost:3031/download", {
            method: "get"
            })
            .then((response) => {
            if(response.ok){
            return response.blob()
            }
            // console.log(response.body);
            }).then(data => {
            console.log("data",data);
            const url = URL.createObjectURL(data);
            console.log("url",url);
            const a = document.createElement("a");
            a.style.display = "none";
            a.href = url;
            a.download = "test00.mp4";
            a.click()
            setTimeout(function () {
                URL.revokeObjectURL(url);
            },100);
            })
            .catch((error) => {
                console.log(error);
            })
        }
        $scope.testConnection = function() {
            fetch(`${$scope.BaseURL}/testConnection`, {
            // fetch("http://localhost:3031/testConnection", {
            method: "post"
            })
            .then((response) => {
              console.log("res =>", response);
            })
           
        }
        $scope.countDownload = function() {
            fetch(`${$scope.BaseURL}/countDownload`, {
            // fetch("http://localhost:3031/countDownload", {
            method: "get"
            })
            .then((response) => {
              console.log("res =>", response);
            })
           
        }
        $scope.countVideos = function() {
            fetch(`${$scope.BaseURL}/countVideos`, {
            // fetch("http://localhost:3031/countVideos", {
            method: "get"
            })
            .then((response) => {
              console.log("res =>", response);
            })
           
        }
        })
    </script>
  </body>
</html>
